* {
    box-sizing: border-box;
}
ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}
#list_tasks > li {
    padding: 2px 3px;
    text-align: center;
    border-radius: 5px;
    float: right;
    margin: 5px 5px 0px 0px;
    color: white;
    background-color: blue;
    list-style: none;
}